// tim base.css

body {
    font-family: Merriweather, georgia, sans-serif;
    background-color: #E3F0EC;
    padding: 1em;
    font-size: 1em;
}

header {
  line-height: 1em;
  text-align: center;
}

h2 {
  font-family: 'Slabo 27px', cursive;
  color: #D27C4F;
  font-size: 1.75em;
  text-align: center;
}

h3 {
  font-family: 'Slabo 27px', cursive;
  color: #D27C4F;
  font-size: 1.5em;
  text-align: left;
}

a,
a:link {
  color: #3E606F;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #91AA9D;
}
